h1 {
  color: black;
  text-align: center;
  font-family: arial, sans-serif;
}

#canvas {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mouseover {
  stroke: black;
  stroke-width: 2;
}

#tooltip {
  position: absolute;
  text-align: left;
  width: 200px;
  padding: 2px;
  font: 12px sans-serif;
  background: antiquewhite;
  border: 1px solid black;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

body{
  background-color: #ffc000;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
